.cv-container {
  margin: 75px auto;
}
.pdf-frame {
  width: 850px;
  height: 1200px;
  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 1000px) {
  .pdf-frame {
    width: 100%;
    height: 600px;
  }
}
