.cv-container {
  margin-top: var(--header-height, 56px);
  margin-bottom: 20px;
  padding-top: 20px;
}
.pdf-frame {
  max-width: 850px;
  width: 100%;
  height: 1200px;
  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 1000px) {
  .pdf-frame {
    width: 100%;
    height: 600px;
  }
}
