<div class="about-container container text-center">
  <h3>Hello! My name is Yerassyl Bekberov.</h3>
  <hr />
  <div class="heading-container container mt-3">
    <div class="personal-photo">
      <img src="../../assets/photo.png" alt="Yerassyl Bekberov" />
    </div>
  </div>
  <div class="heading-container section-container container">
    <div class="content text-center">
      <h5>I am a Software Engineer at big outsource team</h5>
      <p>
        Working at different international projects from Thailand to USA.
        <br />
        <br />
        There are a lot of people I work with. I worked with Engineer from
        Columbia that has 12 hours difference from my time zone successfully
        having work processes done and making code review and urgent calls by
        <strong>prioritizing</strong> the couple of hours that we shared.
        <br />
        <br />
        I am an easy learner and flexible for any environment. I can
        <strong>adapt</strong> to new technologies (project managers ask me to
        work on React and Vue projects to help other streams within the project)
        and I stress that there are not good frameworks but code itself.
        <br />
        <br />
        I love to be involved with mentoring, currently mentoring students for
        free-to-learn frontend bootcamps and also
        <strong>helping</strong> juniors within the primary projects at work.
        <br />
        <br />
        Apart from routine feature implementation and bug fixing, I have
        involved in different communitites, and gave a
        <strong>talk</strong> about modern Angular for them who afraid of it
        (should not be).
      </p>
    </div>

    <div class="photo card">
      <img src="../../assets/angular_talk.jpg" alt="talk" />
    </div>
  </div>
  <div class="priorities-container section-container container mt-5 mb-5">
    <div class="priorities-content content text-center">
      <h5>Priorities</h5>
      <p>
        Having <strong>experience</strong> working in an American company and
        studying at a British university, the main priority is to provide
        <strong>top service</strong> in the development of software products for
        customers all around the globe.
        <br />

        Additionally, the constant chase of <strong>learning</strong> is one of
        the main focuses from my side as well as building a
        <strong>strong team</strong> around with excellent
        <strong>customer satisfaction</strong>.
      </p>
    </div>
    <div class="photo card">
      <img
        src="../../assets/IMG_20170528_155743-ANIMATION.gif"
        alt="Yerassyl Bekberov"
      />
    </div>
  </div>
  <div class="archive">
    <h4>Archive: 2021</h4>
    <hr />
    <div class="heading-container section-container container mt-4">
      <div class="content text-center">
        <h5>2020, remember?</h5>
        <p>
          It's not a best year, but it is for me...
          <br />
          I have decided to switch to software development from my previous
          petroleum sphere. Changing the qualification - it is not an easy thing
          to do, but it took time to finally realise what path is right for you.
          <br />
          <br />
          Therefore, my purpose is to constantly obtain all needed practical
          skills for a fully professional software engineer in full-stack
          development preferably using JavaScript with modern technologies
          (React, Angular, Vue and Node).
        </p>
      </div>
      <div class="photo card">
        <img src="../../assets/TIM201214_2020XCover-1.jpg" alt="2020" />
      </div>
    </div>

    <div class="study-container section-container container mt-5 mb-5">
      <div class="content text-center">
        <h5>Schema</h5>
        <p>
          To succeed in the field of my interest, the following path of study
          was developed:
        </p>
        <div class="accordion">
          <ngb-accordion #acc="ngbAccordion" type="light">
            <ngb-panel title="Step 1: Intro to Web-Development">
              <ng-template ngbPanelContent>
                Introduction to web-development by following the course "the
                Complete Web Development Bootcamp" on Udemy with the instructor
                Angela Yu
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Step 2: Intro to CS">
              <ng-template ngbPanelContent>
                To overcome difficulties with the concepts and fundamentals of
                CS, the next step was created by participating in the paid
                school "nFactorial" taught by the Princeton ex-teacher Arman
                Suleimenov. Introduction to Computer Science using Java.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Step 3: JavaScript and Frontend">
              <ng-template ngbPanelContent>
                Rolling Scopes School. Hard and self-studying school of
                JavaScript and Front-End with the deep learning to gain all
                needed techniques.
                <br />
                A wide international community and priceless mentorship helped
                to solid the key practical skills. Following video was made
                during the study there.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
      <div class="mt-4 mb-5">
        <iframe
          class="video"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/3j2vEycHWhs"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
