.about-container {
  margin-top: 100px;
}
.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.heading-container {
}
.content {
  max-width: 500px;
}
.priorities-container {
  flex-direction: row-reverse;
}
.priorities-content {
  max-width: 300px;
}
.personal-photo img {
  border-radius: 5%;
  height: 300px;
  max-width: 300px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.photo img {
  max-width: 500px;
  height: 400px;
  object-fit: cover;
}
.study-container {
  flex-direction: column;
}
.card-header {
  background-color: black;
}
.ngb-panel {
  color: #fff;
  background-color: brown;
}
.video {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@media only screen and (max-width: 800px) {
  .heading-container {
    flex-direction: column;
  }
  .priorities-container {
    flex-direction: column;
  }
  .photo img {
    max-width: 300px;
  }
  .video {
    max-width: 300px;;
  }
}
