<div class="contact-container container">
  <div class="my-contacts">
    <div class="card" style="width: 30rem;">
      <div class="card-body text-center">
        <h5 class="card-title">My Contact Details</h5>
        <hr>
        <p class="card-text">Almaty, Kazakhstan</p>
        <hr>
        <a class="card-link" href="tel:+77776511765"><fa-icon [icon]="faPhone" size="lg"></fa-icon> +7 777 651 17 65</a>
        <hr>
        <a class="card-link" href="mailto:bekberata@gmail.com"><fa-icon [icon]="faMail" size="lg"></fa-icon> bekberata@gmail.com</a>
        <hr>
        <p class="card-link"><fa-icon [icon]="faDiscord" size="lg"></fa-icon> ye-russell#0255</p>
        <hr>
        <div class="socials-container mt-3">
          <a class="telegram" href="https://t.me/bye29" target="_blank">
            <fa-icon [icon]="faTelegram" size="2x"></fa-icon>
          </a>
          <a class="github" href="https://github.com/ye-russell" target="_blank">
            <fa-icon [icon]="faGithub" size="2x"></fa-icon>
          </a>
          <a class="linkedin" href="https://www.linkedin.com/in/yerassyl-bekberov-5b04371a8/" target="_blank">
            <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
          </a>
          <a class="facebook" href="https://www.facebook.com/yerassyl.bekberov" target="_blank">
            <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
