.portfolio-container {
  margin: 75px auto;
  max-width: 1400px;
}
.projects-container {
  display: flex;
  max-width: 1400px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.card {
  transition: 0.2s;
}
.card a {
  text-decoration: none;
  color: #222831;
}
.card:hover {
  transform: scale(1.05);
}
.card-img-top {
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #FFD369;
}
