<div class="home-container container-fluid">
  <div class="container main-container text-center">
    <h1 class="ye-russell">Ye Russell</h1>
    <h5>Software developer</h5>
    <button class="btn btn-outline-dark mt-2 mr-2" routerLink="/about">About</button>
    <button class="btn btn-dark mt-2" routerLink="/contact">Contact</button>
    <div class="socials-container mt-3">
      <a class="github" href="https://github.com/ye-russell" target="_blank">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
      <a class="linkedin" href="https://www.linkedin.com/in/yerassyl-bekberov-5b04371a8/" target="_blank">
        <fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
      </a>
    </div>
  </div>
</div>

